<ion-view view-title="Registro venta">
    <ion-content>
		 <label class="item item-input item-select">
		    <div class="input-label">
		      Punto de venta
		    </div>
		    <select>
		      <option>Ecolety</option>
		      <option>Nariz de conejo</option>
		      <option>Internet</option>
		    </select>
		  </label>

		  <div class="row">
		  	<div class="col col-50">
		  		<label class="item item-input">
				    <input type="text" placeholder="Código producto">
				  </label>
		  	</div>
		  	<div class="col col-50">
		  		<label class="item item-input">
				    <input type="text" placeholder="Precio">
				  </label>
		  	</div>
		  </div>
		  <div class="row">
		  	<div class="col col-50">
		  		<label class="item item-input">
				    <input type="text" placeholder="Fecha venta">
				  </label>
		  	</div>
		  	<div class="col col-50">
		  		<label class="item item-input">
				    <input type="text" placeholder="Unidades">
				  </label>
		  	</div>
		  </div>
		  <div class="padding">
			  <label class="item item-input item-select">
			    <div class="input-label">
			      Forma de pago
			    </div>
			    <select>
			      <option>Tarjet</option>
			      <option>Nariz de conejo</option>
			      <option>Internet</option>
			    </select>
			  </label>
		  </div>
		  <div class="padding">
			  	<label class="item item-input">
					<input type="text" placeholder="Fecha venta">
				</label>
		  </div>
		  <div class="padding">
			  	<label class="item item-input">
					<input type="date" placeholder="Fecha venta">
				</label>
		  </div>
		  <div class="padding">
			  	<button class="button button-block button-balanced">
				  Ingresar venta
				</button>
		  </div>


    </ion-content>
</ion-view>