<ion-view view-title="ficha producto">

	<ion-tabs class="tabs-balanced">
	  <ion-tab title="Descripcción" ui-sref="ficha.descripccion">
	    <ion-nav-view name="tab-desc"></ion-nav-view>
	  </ion-tab>
	  <ion-tab title="Propiedades" ui-sref="ficha.propiedades">
	     <ion-nav-view name="tab-prop"></ion-nav-view>
	  </ion-tab>
	  <ion-tab title="Receta" ui-sref="ficha.receta">
	     <ion-nav-view name="tab-receta"></ion-nav-view>
	  </ion-tab>
	  <ion-tab title="Preview" ui-sref="ficha.preview">
	     <ion-nav-view name="tab-prev"></ion-nav-view>
	  </ion-tab>
	</ion-tabs>
  </ion-view>