<ion-view view-title="ficha producto">
    <ion-content ng-init="calcular();">
    	<ion-list>
    		<ion-item class="item item-thumbnail-left">
    			<img src="img/prev.svg">
			     <h2>{{fichaProducto.nombre}}</h2>
			     <p>{{fichaProducto.descripcion}}</p>
    		</ion-item>
    	</ion-list>
    	<div class="row">
    		<div class="col preview-resumen">
    			<h4>${{fichaProducto.costo}}</h4>
    			<p>COSTO</p>
    		</div>
    		<div class="col preview-resumen">
    			<h4>${{fichaProducto.valorReferencial}}</h4>
    			<p>VENTA REF</p>
    		</div>
    		<div class="col preview-resumen">
    			<h4>${{fichaProducto.ganancia}}</h4>
    			<p>GANANCIA</p>
    		</div>
    	</div>
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Precio final:</span>
                <input type="text" ng-model="$parent.preducto_precioFinal" placeholder="..." value="">
            </label>
        </ion-list>
    	<ion-list>
    		<ion-item>
    			<h3>Envase</h3>
    			<p>POM021458 | 	1 unidad</p>
    		</ion-item>
    		<ion-item>
    			<h3>Propiedades</h3>
    			<p>uno, dos,tres</p>
    		</ion-item>
    		<ion-item>
    			<h3>Beneficios</h3>
    			<p>uno, dos,tres</p>
    		</ion-item>
    		<ion-item>
    			<h3>Insumo 1</h3>
    			<p>costo $12.000 | cant. 5 gr</p>
    		</ion-item>
    	</ion-list>

    	<div class="padding">
		  	<button class="button button-block button-balanced" ng-disabled="form_ficha.$invalid">
			  Finalizar
			</button>
		</div>

    </ion-content>
</ion-view>