<ion-view view-title="ficha producto">
    <ion-content>
    <!--Agregar propiedad-->
    	<div class="list">
		  <div class="item item-input-inset">
		    <label class="item-input-wrapper">
		      <input type="text" placeholder="Propiedad">
		    </label>
		    <button class="button button-small">
		      Agregar
		    </button>
		  </div>

		  <div class="item">
		    Propiedad A
		  </div>
		  <div class="item">
		    Propiedad B
		  </div>
		  <div class="item">
		    Propiedad C
		  </div>
		</div>

	<!--Agregar beneficio-->
    	<div class="list">
		  <div class="item item-input-inset">
		    <label class="item-input-wrapper">
		      <input type="text" placeholder="Beneficio">
		    </label>
		    <button class="button button-small">
		      Agregar
		    </button>
		  </div>

		   <div class="item">
		    Beneficio A
		  </div>
		  <div class="item">
		    Beneficio B
		  </div>
		  <div class="item">
		    Beneficio C
		  </div>
		</div>

    <!--FInalizar-->
		<div class="padding">
		  	<button class="button button-block button-balanced" ng-disabled="form_ficha.$invalid">
			  Guardar y continuar
			</button>
		  </div>
    </ion-content>
</ion-view>